/* Global styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dbe5f1; /* Light blue background */
  color: #333; /* Dark text color */
}

header {
  text-align: left;
  padding: 20px;
  background-color: #512da8; /* Dark purple header background */
  color: white; /* White text color */
}

nav {
  background-color: #6741d9; /* Purple navigation background */
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #9575cd; /* Lighter purple on hover */
}


main {
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #ffffff; /* Dark purple heading color */
}

p {
  font-size: 18px;
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 10px;
  float: left;
  border-radius: 50%;
}

/* Welcome section */
.welcome-section {
  padding: 20px;

}

.welcome-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text,
.image {
  flex: 1 1 100%; /* Full width on small screens, stack on top of each other */
}

.text {
  border: 2px solid #512da8; /* Dark purple border */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.image img {
  width: 100%; /* Ensure image fills its container */
  height: auto;
  border-radius: 10px;
}

/* Booking section */
.booking-section {
  padding: 20px;

}

.booking-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text,
.form {
  flex: 1 1 100%; /* Full width on small screens, stack on top of each other */
  margin-bottom: 20px;
}

.form {
  padding: 20px;
  color: white;
  background-color: #512da8; /* Dark purple form background */
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}



input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #512da8; /* Dark purple border */
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

input[type="submit"] {
  width: 100%;
  background-color: #6741d9; /* Purple button background */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #9575cd; /* Lighter purple on hover */
}

/* Services page */
.services-section {
  padding: 20px;
  

}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 30%;
  margin-bottom: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #512da8; /* Dark purple service background */
  border-radius: 40px;
  color: white;
}

.service h2 {
  margin-top: 0;
}

.service p {
  margin-bottom: 0;
}

/* About Us page */
.about-section {
  padding: 20px;

}

.slideshow-container {
  padding: 20px;
  background-color: #512da8; /* Dark purple background */
  border-radius: 10px;
  margin-bottom: 20px;
}

.slideshow {
  max-width: 100%;
  max-height: 300px; /* Fixed height for the slideshow */
  overflow: hidden; /* Hide overflow to prevent resizing */
}

.slideshow img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the images */
}


/* Media query for smaller screens */
@media screen and (max-width: 900px) {
  .welcome-content,
  .booking-content,
  .services-content,
  .about-content {
    flex-direction: column; /* Stack content on smaller screens */
  }

  .service {
    flex-basis: 100%; /* Services occupy full width on smaller screens */
  }
}
